#java
*target*
*.jar
*.war
*.ear
*.class
hs_err_pid*
.mtj.tmp/

#ides
nbproject/private/
nb-configuration.xml
.project
.classpath
.settings/

#maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#general
*~
*.lock
*.DS_Store
*.swp
*.out

